@import url("../index.css");
#div-container {
  height: 100vh;
  background-color: var(--fontColor-BlackGray);
}
#navegacao {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.logoAplicacao {
  width: 100px;
}

#navegacao .titleAplicacao {
  color: var(--fontColor-BlackGray);

  display: flex;
  align-items: center;
  font-family: "Anton";
  font-size: 1.4rem;
  gap: 30px;
}
#navegacao .linkInstagram {
  color: var(--fontColor-Write);
  font-family: "Barlow";
  font-size: 1.2rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
#navegacao .iconsRedeSocial {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

/*Section----------------------------------------------------------------------------*/
#section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  align-items: center;
}
#section .content-Sessao {
  align-items: center;
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: var(--fontColor-Blue);
  border-radius: 15px;
  color: var(--fontColor-Write);
  font-size: 1.2rem;
  font-family: "Anton";
}
.paragrafo-Content {
  width: 100%;
  display: flex;
  color: var(--fontColor-Write);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.content-Sessao:hover ~ .paragrafo-Content {
}
.content-Sessao:hover {
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
}
/*Section----------------------------------------------------------------------------*/
