:root {
  width: 100%;
  height: 100%;

  color-scheme: light dark;
  --fontColor-BlackGray: #1c1c1c;
  --fontColor-Gray: #808080;
  --fontColor-Pink: #a020f0;
  --fontColor-Write: #faeaeb;
  --fontBackgroundColor-write: #faeaeb;
  --fontoFamily1: "Barlow Condensed Static";
  --fontoFamily2: "Anton";
  background-color: #faeaeb;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--fontBackgroundColor-write);
}
